[Unit]
Description=cAdvisor
Documentation=https://github.com/google/cadvisor

[Service]
ExecStart=/usr/local/bin/cadvisor
Restart=always
LimitNOFILE=4096
User=root

[Install]
WantedBy=multi-user.target
